.flex-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1040px;
}

.text-align-center {
  text-align: center;
}

.grid {
  display: grid;
}

.grid-cols-6 {
  grid-template-columns: repeat(6, 1fr);
}

